/* Reset all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 2px;
  color: #777;
}

#logo {
  width: 120px;
}

.jumbotron {
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0px;

  background-color: #232f3e;
  color: #fff;
  letter-spacing: 2px;
}

.box {
  /* border: 2px black solid; */
  margin: 50px auto;
  width: 90%;
  height: 500px;
  display: block;
  color: white;
  position: relative;
  border-radius: 8px;
  padding: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 1.5s;
}

.name {
  text-transform: uppercase;
  margin: 50px 50px 10px;
  /* padding-top: 100px;
  text-align: center; */
}

.name,
.price {
  text-align: center;
  font-size: 5vh;
}

.places::first-line {
  text-align: center;
  font-size: 5vh;
  text-decoration: underline;
}

.places {
  text-align: center;
  margin: 30px 50px 10px;
}

.currency {
  text-align: center;
}

.price {
  text-decoration: underline;
}

.purchase {
  color: white;
  background-color: transparent;
  border: 1px solid #e63e43;
  cursor: pointer;
  width: 200px;
  font-size: 20px;
  border-radius: 200px;
  margin: 20px auto;
  padding: 5px;
  text-transform: uppercase;
  transition: all 0.2s;
}

.weather {
  display: flex;
  text-align: center;
  margin-top: 100px;
}

button:hover {
  transform: translateY(-3px);
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: none;
}

#dest6, #dest7 {
  background-position: bottom;
}

#dest0:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    url('assets/Bridgetown.jpg');
}

#dest1:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    url('assets/Zurich.jpg');
}

#dest2:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    url('assets/Havana.jpg');
}

#dest3:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    url('assets/Tokyo.jpg');
}

#dest4:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    url('assets/Johannesburg.jpg');
}

#dest5:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    url('assets/Manila.jpg');
}


#dest6:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    url('assets/Seoul.jpg');
}


#dest7:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    url('assets/Sydney.jpg');
}

#dest8:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    url('assets/Vancouver.jpg');
}


#dest9:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    url('assets/Reykjavik.jpg');
}

ul {
  list-style-type: none;
}

.flightInfo,
.price,
.places,
.purchase,
.currency {
  display: block;
}

.bigFont {
  font-family: 'Helvetica', sans-serif;
}
.smallFont {
  font-family: 'Verdana', serif;
}
