/* Reset all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.box{
    /* border: 2px black solid; */
    margin: 5px auto;
    width: 90%;
    height: 500px;
    display: block;
    color: white;
    position: relative;
    transition: 0.5s ease-in;
    /* filter: brightness(100%); */
}

#dest0{
    background: url("assets/Bridgetown.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.box:hover{
    background-image: linear-gradient(
    to right bottom,
   /* rgba(127, 213, 112, 0.8), */
  rgba(0,0,0,0.5));
  transition: 0.5s ease-out;
}

#dest1{
    background: url("assets/Zurich.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 24%;
}

#dest2{
    /* filter: brightness(50%); */
    background: url("assets/Havana.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 75%; 
}

#dest3{
    /* filter: brightness(50%); */
    background: url("assets/Tokyo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 75%;
}

#dest4{
    /* filter: brightness(50%); */
    background: url("assets/Johannesburg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#dest5{
    /* filter: brightness(50%); */
    background: url("assets/Manila.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#dest6{
    /* filter: brightness(50%); */
    background: url("assets/Seoul.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#dest7{
    background: url("assets/Sydney.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}

#dest8{
    /* filter: brightness(50%); */
    background: url("assets/Vancouver.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}

#dest9{
    /* filter: brightness(50%); */
    background: url("assets/Reykjavik.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

table{
    border-collapse: collapse;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}
table, td, th{
    border: 1px red solid;
    align-content: center;
    text-align: center;
}
ul{
    list-style-type: none;
}
  

.flightInfo, .places, .weather, .currency{
    display: none;
}
.bigFont{
    font-family: "Helvetica", sans-serif;
}
.smallFont{
    font-family: "Verdana", serif;

}
